<footer>
    <div class="footer-header">
        <h1 class="logo symbol"><a href="/list"><span class="accent1">3</span><span>P</span></a></h1>
        <a href="https://github.com/sher-s7/express-pc-part-planner"><img src="/images/github.png" alt="GitHub Link"></a>
    </div>
</footer>