<footer>
    <div class="footer-header">
        <h1 class="logo symbol"><a href="/list"><span class="accent1">3</span><span>P</span></a></h1>
        <a href="https://github.com/sher-s7/express-pc-part-planner" id="githubLogo"><i class="fab fa-github"></i></a>
    </div>
    <div class="footer-body">
        <a href="/list">My List</a>
        <a href="/categories">Categories</a>
        <a href="/manufacturers">Manufacturer</a>
        <a href="/components">All Parts</a>
    </div>
    <div class="footer-end">
        <span id="createdBy">Created by Sher Sheikh</span>
    </div>
</footer>