<header>
    <section>
        <h1 class="logo"><a href="/list"><span class="accent1">P</span>C<span class="accent1">P</span>ART<span class="accent1">P</span>LANNER</a></h1>
    </section>
    <section id="nav-bar" class="hidden">
        <ul>
            <li><a href="/list">MY LIST</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
            <li><a href="/manufacturers">MANUFACTURERS</a></li>
            <li><a href="/components">ALL PARTS</a></li>
        </ul>
    </section>
</header>