<header>
    <section>
        <h1>3P</h1>
        <div>
            <select id="currency-select">
                <option selected>CAD</option>
                <option>USD</option>
                <option>EUR</option>
            </select>
            <label for="dark-mode-toggle">
                <input type="checkbox" id="dark-mode-toggle">
            </label>
        </div>
    </section>
    <section>
        <ul>
            <li><a href="/list">MY LIST</a></li>
            <li><a href="/categories">CATEGORIES</a></li>
            <li><a href="/manufacturers">MANUFACTURERS</a></li>
            <li><a href="/components">ALL PARTS</a></li>
        </ul>
    </section>
</header>