<% layout('layout') -%>

<section>
    <h1>category list</h1>
</section>
<section><a href="/category/create">New Category</a></section>

<ul>
    <% category_list.forEach(category => { %>
    <li>
        <h2><%= category.title  %> </h2>
        <p><a href="<%= category.url %>">Browse <%= category.title %>s</a></p>
    </li>
    <% }) %>
</ul>