<% layout('layout') -%>

<section class="title delete">
  <h1>Delete Component:</h1>
  <h2><%= component.name %> </h2>
</section>

<section class="deleteSection">
  <p id="confirmationMsg">Are you sure you want to delete this component?</p>

  <form action="" method="POST">
    <input
      type="hidden"
      name="id"
      id="id"
      value="<%= component._id %>"
      required
    />
    <input
      type="hidden"
      name="filename"
      id="filename"
      value="<%= component.fileName %>"
      required
    />
    <fieldset>
      <legend>ADMIN PASSWORD</legend>
      <input type="password" name="password" id="password" required>
    </fieldset>
    <button type="submit" class="yellow-btn">Delete</button>
  </form>
  <a class="cancel" href="<%= component.url %>">Cancel</a>
</section>

