<% layout('layout') -%>

<h1 class="title"><%= title %></h1>

<p>
  Are you sure you want to delete the following component?
  <span><%= component.name %></span>
</p>

<form action="" method="POST">
  <input
    type="hidden"
    name="id"
    id="id"
    value="<%= component._id %>"
    required
  />
  <button type="submit" class="yellow-btn">Delete</button>
</form>
<a class="cancel" href="<%= component.url %>">Cancel</a>
