<% layout('layout') -%>

<section> 
  <h1><%= title %></h1>
  <a href="<%= component.url%>/update">Update</a>
  <a href="<%= component.url%>/delete">Delete</a>
  <ul>
    <% component.description.split(',').forEach(spec => { %>
      <% if (spec.trim().length > 0) { %>
        <li><%= spec %></li>
      <% } %>
    <% }) %>
  </ul>
</section>
