<% layout('layout') -%>
<div id="errorPage">
  <section id="errorTitle">
    <h1><%= title %></h1>
  </section>
  <section id="errorDetails">
    <p><code><%= message %></code></p>
    <p><code><%= error.status %></code></p>
  </section>
</div>
