<% layout('layout') -%>

<section>
    <h1><%= title %> </h1>
</section>
<section><a href="/manufacturer/create">New Manufacturer</a></section>

<ul>
    <% manufacturers.forEach(manufacturer => { %>
    <li>
        <h2><%= manufacturer.name  %> </h2>
        <p><a href="<%= manufacturer.url %>">View manufacturer</a></p>
    </li>
    <% }) %>
</ul>