<% layout('layout') -%>

<h1 class="title"><%= title %></h1>

<section><a href="/manufacturer/create">New Manufacturer</a></section>

<ul>
  <% manufacturers.forEach(manufacturer => { %>
  <li>
    <h2><%= manufacturer.name %></h2>
    <p><a href="<%= manufacturer.url %>">View manufacturer</a></p>
  </li>
  <% }) %>
</ul>
