@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  --accent1: #eccb46;
  --accent2: #e3d081;
  --fg: #1e1e1e;
  --bg: #333333;
  --black: #181818;
  --font-color: #dddddd;
  background-color: var(--bg);
  font-family: "Archivo", sans-serif;
  color: var(--font-color);
}

#logo {
	font-family: 'Arvo', serif;
}

#logo a {
  text-decoration: none;
  color: var(--font-color);
}

.accent1 {
	color: var(--accent1);
}

.description {
  white-space: pre-line;
}

a {
    color: var(--accent1);
}
