@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");

body {
  --accent1: #f8d23c;
  --accent2: #e3d081;
  --fg: #1e1e1e;
  --bg: #333333;
  --black: #181818;
  --font-color: #dddddd;
  --input-gradient-1: #494536;
  --input-gradient-2: #4e4936;
  --body-padding: 20px;
  --header-height: 70px;
  --footer-height: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  font-family: "Archivo", sans-serif;
  color: var(--font-color);
  position: relative;
}

.hidden {
  display: none !important;
}

.accent1 {
  color: var(--accent1);
}

a {
  text-decoration: none;
  color: var(--accent1);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.part-add button,
button[type="submit"] {
  width: 100%;
  padding: 15px 0;
  background-color: var(--accent1);
  color: var(--bg);
  border: 5px solid #ccb146;
  border-top: none;
  border-radius: 2px;
  transition: 0.2s ease-out;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px #0009;
}
.part-add button:focus,
button[type="submit"]:focus {
  transform: scale(1.02);
  box-shadow: 0 3px 25px #0009;
}
.part-add button:active,
button[type="submit"]:active {
  transform: scale(0.98);
}

section,
table {
  padding: var(--body-padding);
}

/* -       -       -       -       -       -       -       -  Header -       -       -       -       -       -       -       - */

header {
  position: relative;
  background-color: var(--black);
  height: var(--header-height);
}

header section:first-of-type {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  height: 100%;
  background-color: var(--black);
}

#burger {
  background: none;
  border: none;
  padding: 0;
  width: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#burger div {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--font-color);
  transition: 0.2s;
  top: 0;
  bottom: 0;
}
body.expand {
  overflow: hidden;
}
body.expand #nav-bar {
  display: flex;
}
body.expand #burger div:first-of-type {
  top: 8px;
  opacity: 0;
}
body.expand #burger div:last-of-type {
  top: -8px;
  opacity: 0;
}

body.expand #burger div:nth-child(2) {
  animation: bounce 0.2s linear none 1;
}
#burger:focus {
  outline: none;
}
#burger:focus div {
  background-color: var(--accent1);
  transition: 0.2s;
}

.logo {
  font-size: 24px;
  text-align: center;
  align-self: center;
}
.logo a {
  font-family: "Arvo", serif;
  color: var(--font-color);
}

.logo a:hover {
  text-decoration: none;
}

#nav-bar {
  margin: 0;
  list-style: none;
  position: fixed;
  background: var(--fg);
  z-index: 1;
  width: 100%;
  height: calc(100vh - var(--header-height));
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 20px;
  padding-top: 5px;
  overflow-y: scroll;
}

#nav-bar li {
  font-size: 20px;
  padding: 15px 0;
  width: 100%;
  text-transform: capitalize;
}

#nav-bar li:first-of-type::after {
  content: "";
  border-bottom: 1px solid var(--font-color);
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  margin-top: 15px;
  opacity: 0.2;
}

#nav-bar li a {
  color: var(--font-color);
  display: inline-block;
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
}

#nav-bar li a i {
  font-size: 30px;
  margin-right: 10px;
  opacity: 0.5;
}

#nav-bar li a:hover {
  color: var(--accent1);
}

/* -       -       -       -       -       -       -       -  Part List -       -       -       -       -       -       -       - */
#parts_total {
  text-align: right;
}

/* -       -       -       -       -       -       -       -  List -       -       -       -       -       -       -       - */
.list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  text-align: center;
  background-color: var(--fg);
}

.list li:hover, .list li:active {
  background-color: var(--black);
}

.list li h2 {
  margin: 0;
}
.list li h2 a {
  width: 100%;
  display: inline-block;
  padding: var(--body-padding);
  text-decoration: none;
}
.create-section {
  text-align: right;
  display: none;
}
.create-link {
  color: var(--font-color);
  text-decoration: none;
}
.create-link:hover {
  color: var(--accent1);
  text-decoration: none;
}

.filter-section {
  padding: 0 var(--body-padding);
  position: relative;
  top: 22px;
}

.filter-section fieldset {
  margin-bottom: 0;
}
table {
  width: 100%;
  background-color: var(--fg);
}

thead {
  display: none;
}

tr {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  color: var(--accent2);
  padding: 20px 0;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--accent2);
}

.th-small {
  font-size: 13px;
  color: var(--accent2);
  opacity: 0.5;
}
td {
  padding: 10px;
}

.part-add {
  grid-column: 1 / 3;
}

.part-add button {
  width: 100%;
  text-transform: uppercase;
  padding: 10px 0;
}

/* -       -       -       -       -       -       -       -  Detail -       -       -       -       -       -       -       - */
.title {
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: var(--fg);
  margin: 0 auto;
  position: relative;
}
.title a {
  position: absolute;
  right: 80px;
}
.title button {
  position: absolute;
  right: 25px;
  background: none;
  border: none;
  color: var(--accent1);
  padding: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0deg);
  font-size: 25px;
}
.title button:focus {
  outline-color: var(--accent1);
}
.title button.flip {
  transform: translateY(-50%) rotate(180deg);
}

.edit-links {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  right: 5px;
  background-color: var(--fg);
  transition: 0.2s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 60px;
}

.edit-links.collapsed {
  visibility: hidden;
  opacity: 0;
}

.description {
  white-space: pre-line;
}

.edit-links a {
  padding: 20px;
}

/* -       -       -       -       -       -       -       -  Form -       -       -       -       -       -       -       - */

::placeholder {
  color: var(--accent1);
  opacity: 0.5;
}

form {
  display: flex;
  flex-direction: column;
}
legend {
  padding: 0 2px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  transition: 0.2s;
  text-shadow: 0 0 7px #000000c9;
  position: relative;
  top: 0;
}

fieldset {
  padding: 0;
  border-radius: 2px;
  color: var(--accent1);
  background: radial-gradient(var(--input-gradient-1), var(--input-gradient-2));
  border: 2px solid transparent;
  transition: border 0.2s;
  box-shadow: 0 0 10px #0000002e;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

fieldset#features {
  margin-bottom: 0;
}

#feature-sub {
  margin: 10px 0 25px 5px;
  color: var(--accent1);
}

input,
textarea,
select {
  width: 100%;
  height: 100%;
  padding: 5px 15px 10px 15px;
  border: none;
  background: transparent;
  color: var(--accent1);
  outline: none;
  box-shadow: none;
}

option {
  background-color: #4d4836;
  color: var(--accent1);
}

textarea {
  resize: vertical;
}

fieldset:focus-within {
  transition: border 0.2s;
  border-color: var(--accent1);
  outline: none;
}

fieldset:focus-within legend {
  animation: bounce 0.2s linear none 1;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 0px;
  }
}

#price-stock-container {
  display: flex;
}

#price-input {
  position: relative;
}

#dollar-sign {
  position: absolute;
  top: 2px;
  font-size: 20px;
  left: 10px;
  color: var(--accent1);
}
#price {
  padding-left: 25px;
  padding-right: 5px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
}

a.cancel {
  width: 100%;
  display: block;
  text-align: center;
  background-color: var(--fg);
  padding: 15px 0px;
  border-radius: 2px;
  text-decoration: none;
}

/* -       -       -       -       -       -       -       -  Delete -       -       -       -       -       -       -       - */

/* -       -       -       -       -       -       -       -  Footer -       -       -       -       -       -       -       - */
footer {
  background-color: var(--black);
  min-height: var(--footer-height);
  padding: 20px;
  width: 100%;
  flex-grow: 1;
}
.symbol {
  font-size: 30px;
}

.symbol a {
  color: var(--font-color);
}

/* -       -       -       -       -       -       -       -  Error -       -       -       -       -       -       -       - */
