@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700;800;900&display=swap");

body {
  --accent1: #f8d23c;
  --accent2: #e3d081;
  --fg: #1e1e1e;
  --bg: #333333;
  --black: #181818;
  --font-color: #dddddd;
  --input-gradient-1: #494536;
  --input-gradient-2: #4e4936;
  --body-padding: 20px;
  --header-height: 70px;
  --footer-height: 200px;
  --table-header-color: #4f4e4e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(var(--fg) 20%, var(--bg) 60%);
  font-family: "Archivo", sans-serif;
  color: var(--font-color);
  position: relative;
}

::-moz-selection,
::selection {
  background-color: var(--accent1);
  color: var(--black);
}

.hidden {
  display: none !important;
}

.accent1 {
  color: var(--accent1);
}
.accent2 {
  color: var(--accent2);
}
h1 {
  max-width: 85%;
}
h1,
h2,
h3,
h4,
li,
section,
p,
a,
td {
  word-break: normal;
  overflow-wrap: anywhere;
}

a {
  text-decoration: none;
  color: var(--accent1);
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
}
i, i::before, i::after {
  text-rendering: optimizeLegibility;
}

.widescreen {
  display: none;
}

.yellow-btn {
  background-color: var(--accent1);
  color: var(--bg);
  border: 5px solid #ccb146;
  border-top: none;
  border-radius: 2px;
  transition: 0.2s ease-out;
  font-size: 18px;
  text-transform: uppercase;
  box-shadow: 0 5px 10px var(--black);
}
.yellow-btn:focus {
  transform: scale(1.02);
  box-shadow: 0 3px 25px var(--black);
}
.yellow-btn:active {
  transform: scale(0.98);
}

section,
table {
  padding: var(--body-padding);
}
.component-details--img .imgNotFound {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  background: var(--black);
  color: var(--accent1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
/* -       -       -       -       -       -       -       -  Header -       -       -       -       -       -       -       - */

header {
  position: relative;
  background-color: var(--black);
  height: var(--header-height);
}

header section:first-of-type {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  height: 100%;
  background-color: transparent;
}

h1.header-small {
  display: none;
}

#burger {
  background: none;
  border: none;
  padding: 0;
  width: 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#burger div {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: var(--font-color);
  transition: 0.2s;
  top: 0;
  bottom: 0;
}
body.expand {
  overflow: hidden;
}
body.expand #nav-bar {
  display: flex;
}
body.expand #burger div:first-of-type {
  top: 8px;
  opacity: 0;
}
body.expand #burger div:last-of-type {
  top: -8px;
  opacity: 0;
}

body.expand #burger div:nth-child(2) {
  animation: bounce 0.2s linear none 1;
}
#burger:focus {
  outline: none;
}
#burger:focus div {
  background-color: var(--accent1);
  transition: 0.2s;
}

.logo {
  font-size: 24px;
  text-align: center;
  align-self: center;
}
.logo a {
  font-family: "Arvo", serif;
  color: var(--font-color);
}

.logo a:hover {
  text-decoration: none;
}
.headerContentContainer {
  background-color: var(--black);
  height: 100%;
}
#nav-bar {
  margin: 0;
  list-style: none;
  position: fixed;
  background: var(--fg);
  z-index: 3;
  width: 100%;
  height: calc(100vh - var(--header-height));
  left: 0;
  display: none;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: var(--body-padding);
  padding-top: 0;
  overflow-y: auto;
  top: var(--header-height);
}

#nav-bar li {
  font-size: 20px;
  width: 100%;
  text-transform: capitalize;
}

#nav-bar li:first-of-type::after {
  content: "";
  border-bottom: 1px solid var(--font-color);
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  opacity: 0.2;
}

#nav-bar li a {
  color: var(--font-color);
  width: 100%;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 15px 0;
}

#nav-bar li:first-of-type {
  padding-bottom: 15px;
}

#nav-bar li a i {
  font-size: 30px;
  margin-right: 10px;
  opacity: 0.5;
}

#nav-bar li a:hover {
  color: var(--accent1);
}

/* -       -       -       -       -       -       -       -  Part List -       -       -       -       -       -       -       - */
#pc-planner-list td {
  padding: 0;
}
#pc-planner-list tr {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
#pc-planner-list .part_category {
  grid-column: 1 / 3;
  position: relative;
  padding: 0;
  white-space: nowrap;
}
#pc-planner-list .part_category::after {
  content: "";
  height: 2px;
  display: block;
  width: 100%;
  background-color: var(--bg);
  position: absolute;
  top: 50%;
}
#pc-planner-list .part_category a {
  color: var(--font-color);
  background-color: var(--fg);
  position: relative;
  z-index: 1;
  padding-right: 10px;
  font-weight: bold;
}

#pc-planner-list tr {
  border: none;
  overflow-x: auto;
}

#pc-planner-list .part_buy {
  text-align: center;
}
#pc-planner-list .part_remove {
  text-align: center;
  border: 2px solid var(--bg);
  border-radius: 3px;
}

#pc-planner-list .part_buy a,
#pc-planner-list .part_remove .remove {
  background: none;
  border: none;
  padding: 7px;
  width: 100%;
  display: inline-block;
  height: 100%;
}
#pc-planner-list .part_buy {
  background-color: var(--accent1);
  border-radius: 3px;
  font-weight: bold;
}
.part_buy a {
  color: var(--fg);
  text-decoration: none;
}
.part_buy i {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
#text-remove {
  font-weight: bold;
}
.part_remove .remove {
  color: var(--font-color);
  opacity: 0.3;
}
.chooseCategory {
  grid-column: 1 / 3;
  margin-top: 10px;
}
.chooseCategory a {
  background: var(--accent1);
  padding: 10px 15px;
  border-radius: 2px;
  color: var(--fg);
  font-weight: bold;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
}
.chooseCategory a:focus {
  background-color: var(--font-color);
}
.chooseCategory i {
  margin-right: 7px;
}
tfoot tr {
  display: flex;
  justify-content: flex-end;
}
#parts_total {
  color: var(--font-color);
}

/* -       -       -       -       -       -       -       -  List -       -       -       -       -       -       -       - */
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list li {
  background-color: var(--fg);
}
.list-image-container {
  display: none;
}

.list li:hover,
.list li:active {
  background-color: var(--black);
}

.list li a {
  width: 100%;
  display: inline-block;
  padding: var(--body-padding);
  text-decoration: none;
  font-size: 25px;
}
.create-section {
  text-align: right;
  display: none;
}
.create-link {
  color: var(--accent1);
  text-decoration: none;
  font-size: 24px;
}
.create-link:hover {
  color: var(--accent1);
  text-decoration: none;
}

.filter-section {
  padding: 0 var(--body-padding);
  position: relative;
  top: 22px;
}

#filterForm {
  width: 100%;
  max-width: 100%;
}

.component-list {
  background-color: var(--fg);
}

.numProductsSection {
  padding: 0px var(--body-padding);
}

p.component-list {
  width: 100%;
  /* text-align: center; */
  margin: 0;
  padding-left: var(--body-padding);
  padding-bottom: 20px;
  color: #dddddd8f;
}

.filter-section.component-list {
  top: 0;
}

.filter-section fieldset {
  margin-bottom: 0;
}
table {
  width: 100%;
  background-color: var(--fg);
}

thead {
  display: none;
}

tr {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  color: var(--accent2);
  padding: 20px 0;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--bg);
}

.th-small {
  font-size: 13px;
  color: var(--accent2);
  opacity: 0.5;
}
td {
  padding: 10px;
}

.part-add {
  grid-column: 1 / 3;
}

.part-add button {
  width: 100%;
  text-transform: uppercase;
  padding: 10px 0;
}

.amount {
  font-weight: lighter;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.inStock.amount,
.totalVal.amount {
  font-weight: normal;
}

/* -       -       -       -       -       -       -       -  Detail -       -       -       -       -       -       -       - */
.title {
  text-align: center;
  padding: var(--body-padding);
  width: 100%;
  background-color: var(--fg);
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title.home {
  flex-direction: column;
  padding: 0;
  padding-top: var(--body-padding);
}

.title.home a {
  margin-top: 20px;
  font-size: 14px;
  background: var(--black);
  padding: 10px 15px;
  border-radius: 3px;
  text-decoration: none;
}

.title button {
  background: none;
  border: none;
  color: var(--accent1);
  padding: 0;
  font-size: 25px;
  align-self: flex-start;
  width: 30px;
  height: 30px;
  z-index: 2;
}
.title button:focus {
  outline-color: var(--accent1);
}
.title button.flip {
  transform: rotate(180deg);
}

.edit-links {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  right: 7px;
  background: linear-gradient(var(--fg) 25%, var(--black));
  box-shadow: 0px 8px 10px var(--black);
  border: 1px solid var(--fg);
  transition: 0.2s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  top: 60px;
  z-index: 1;
}

.edit-links.collapsed {
  visibility: hidden;
  opacity: 0;
}

.description {
  white-space: pre-wrap;
}

.edit-links a {
  padding: 20px;
}

#numProductsContainer {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 10px;
  color: var(--accent2);
  opacity: 0.7;
}

#notFound {
  display: flex;
  justify-content: center;
  padding: 0;
  font-size: 80px;
  color: var(--bg);
  margin-top: 50px;
  border: none;
}

.component-details {
  display: flex;
  flex-direction: column;
  background-color: var(--fg);
}

.component-details--img {
  text-align: center;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}

.component-details--img img {
  width: 100%;
  filter: drop-shadow(0 0 10px var(--black));
}

.component-details--img a {
  position: absolute;
  font-size: 30px;
  right: 10px;
  text-shadow: 0 0 3px var(--bg);
}

.component-details--details > div {
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.component-details--details > div:not(:last-of-type) {
  border-bottom: 1px solid var(--bg);
}

.features-list-container .th-small {
  margin-bottom: 5px;
}

.features-list-container ul {
  margin: 0;
  padding-left: 10px;
  list-style: none;
}
.features-list-container li {
  margin-bottom: 5px;
  padding-bottom: 5px;
  font-family: monospace;
  font-size: 16px;
}

.features-list-container li:not(:last-of-type) {
  border-bottom: 1px solid var(--bg);
}

.component-details--details button {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 40px;
}

/* -       -       -       -       -       -       -       -  Form -       -       -       -       -       -       -       - */

::placeholder {
  color: var(--accent1);
  opacity: 0.5;
}
.form-header {
  margin: 0 auto;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 auto;
  width: 100%;
}
legend {
  padding: 0 2px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  transition: 0.2s;
  text-shadow: 0 0 7px #000000c9;
  position: relative;
  top: 0;
}

fieldset {
  padding: 0;
  border-radius: 2px;
  color: var(--accent1);
  background: radial-gradient(var(--input-gradient-1), var(--input-gradient-2));
  border: 2px solid var(--input-gradient-2);
  transition: border 0.2s;
  box-shadow: 0 0 10px #0000002e;
  margin-bottom: 30px;
  position: relative;
  top: 0;
}

fieldset#features {
  margin-bottom: 0;
}

#feature-sub {
  margin: 10px 0 25px 5px;
  color: var(--accent1);
}

input,
textarea,
select {
  width: 100%;
  height: 100%;
  padding: 5px 15px 10px 15px;
  border: none;
  background: transparent;
  color: var(--accent1);
  outline: none;
  box-shadow: none;
}

option {
  background-color: #4d4836;
  color: var(--accent1);
}

textarea {
  resize: vertical;
}

fieldset:focus-within {
  transition: border 0.2s;
  border: 2px solid var(--accent1);
  /* outline: none; */
}

fieldset:focus-within legend {
  animation: bounce 0.2s linear none 1;
}

@keyframes bounce {
  0% {
    top: 0px;
  }
  25% {
    top: -3px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 2px;
  }
  100% {
    top: 0px;
  }
}

#price-stock-container {
  display: flex;
}

#price-input {
  position: relative;
}

#dollar-sign {
  position: absolute;
  top: 1px;
  font-size: 20px;
  left: 10px;
  color: var(--accent1);
}
#price {
  padding-left: 25px;
  padding-right: 5px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
  padding: 15px 0;
}

a.cancel {
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  display: block;
  text-align: center;
  background-color: var(--fg);
  padding: 15px 0px;
  border-radius: 2px;
  text-decoration: none;
}
#deleteImageForm {
  margin-bottom: 40px;
}
#deleteImageForm img {
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

input[type="file"] {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* -       -       -       -       -       -       -       -  Delete -       -       -       -       -       -       -       - */
.delete {
  flex-direction: column;
}
.deleteSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#deleteMsg {
  font-size: 14px;
  margin-top: 0;
}
#deleteList {
  list-style: square;
  margin-bottom: 40px;
}
#confirmationMsg {
  max-width: 450px;
  margin: 0 auto;
  font-size: 14px;
  margin-bottom: 30px;
}
/* -       -       -       -       -       -       -       -  Footer -       -       -       -       -       -       -       - */
footer {
  background-color: var(--black);
  min-height: var(--footer-height);
  padding: var(--body-padding);
  width: 100%;
  flex-grow: 1;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-header img {
  height: 36px;
}
.symbol {
  font-size: 30px;
  display: inline;
}

.symbol a {
  color: var(--font-color);
}

#githubLogo {
  color: var(--font-color);
  font-size: 40px;
  display: flex;
}

#githubLogo:hover {
  text-decoration: none;
}

.footer-body {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--bg);
  margin-top: 20px;
  padding-top: 20px;
  align-items: flex-start;
}

.footer-body a {
  margin-top: 5px;
  padding: 5px;
  display: inline-block;
}

.footer-end {
  margin-top: 20px;
  text-align: center;
  font-size: 12px;
  color: var(--font-color);
  opacity: 0.3;
}

/* -       -       -       -       -       -       -       -  Error -       -       -       -       -       -       -       - */
#errorMsgs {
  position: relative;
  list-style: none;
  padding-left: 30px;
}

#errorMsgs li {
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  color: var(--accent1);
}

#errorMsgs li i {
  position: absolute;
  left: -22px;
  top: 3px;
  font-size: 12px;
  color: var(--accent1);
}

#errorPage {
  padding: 50px;
}

#errorTitle,
#errorDetails {
  padding: 0;
}

#errorTitle h1 {
  font-size: 18px;
}

#errorDetails p {
  font-size: 16px;
}

#goBack {
  background: none;
  border: none;
  color: var(--accent1);
  padding: 0;
}

@media (max-width: 319px) {
  h1.header-large {
    display: none;
  }
  h1.header-small {
    display: block;
  }
}

@media (min-width: 768px) {
  body {
    background: linear-gradient(var(--fg), var(--bg));
  }
  body.expand {
    overflow: auto;
  }
  .headerContentContainer {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
  }
  #nav-bar {
    position: absolute;
    background: linear-gradient(45deg, var(--fg),var(--black));
    width: 200px;
    height: 260px;
    right: 0;
    left: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 5px solid var(--black);

  }
  #nav-bar li {
    font-size: 16px;
  }
  .widescreen {
    display: inline-block;
  }
  .description {
    max-width: 640px;
    margin: 0 auto;
  }
  .edit-links.collapsed {
    visibility: visible;
    opacity: 1;
  }
  .edit-links {
    position: relative;
    flex-direction: row;
    right: 0;
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    top: 0;
  }
  .edit-links i {
    display: none;
  }
  .edit-links a {
    padding: 5px;
    font-size: 14px;
    color: var(--table-header-color);
  }
  .edit-links a:hover {
    color: var(--accent1);
  }
  .yellow-btn,
  .part-add button {
    text-transform: capitalize;
  }
  .part-add button {
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    width: auto;
  }
  section {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
  }
  .wide-screen-bg {
    background-color: var(--fg);
  }
  .widescreen-numprod-filter {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 960px;
    margin: 0 auto;
  }
  .create-section.component-list {
    max-width: 960px;
  }
  #thComponent {
    width: 150px;
  }
  #thBuy {
    width: 90px;
  }
  #pc-planner-list {
    margin-bottom: 40px;
  }
  #pc-planner-list .part_category {
    white-space: normal;
  }
  #pc-planner-list .part_category::after {
    content: none;
  }
  #pc-planner-list .part_buy,
  #pc-planner-list .part_remove {
    background-color: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--bg);
  }
  #pc-planner-list .part_buy a {
    background-color: var(--accent1);
    border-radius: 2px;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  #pc-planner-list .part_remove .remove {
    width: auto;
  }
  #text-remove {
    display: none;
  }
  .chooseCategory a {
    display: inline-block;
    margin: 15px 0;
  }
  tfoot tr {
    display: table-row;
  }
  tr #parts_total {
    text-align: right;
    padding-right: 10px;
  }
  #pc-planner-list tfoot tr td {
    padding-top: 30px;
  }

  #numProductsContainer {
    color: var(--font-color);
    margin-bottom: 0;
    opacity: 1;
    text-shadow: 0 0 15px black;
  }
  .filter-section {
    display: flex;
    align-items: center;
  }

  #filterForm {
    width: 200px;
    margin: 0;
    margin-left: auto;
  }
  #filter {
    font-size: 14px;
    padding: 0px 0px 7px 15px;
  }
  .title {
    justify-content: center;
    background-color: transparent;
    flex-direction: column;
  }
  .title .create-link {
    display: none;
  }
  table {
    max-width: 960px;
    margin: 0 auto;
  }
  #category-table,
  #manufacturer-table {
    padding-top: 30px;
  }
  thead {
    display: table-header-group;
    position: relative;
  }
  .th-small {
    display: none;
  }
  th {
    position: relative;
    text-align: left;
    font-weight: normal;
    color: var(--table-header-color);
    border-bottom: 2px solid var(--bg);
    padding: 5px;
  }
  th:hover {
    border-color: var(--accent2);
  }
  #pc-planner-list th:hover {
    border-color: var(--bg);
  }
  th span {
    margin-left: 10px;
  }
  tr {
    display: table-row;
  }
  tbody td {
    border-bottom: 1px solid var(--bg);
  }
  #notFound {
    display: table-row;
  }

  #notFound td {
    border: none;
    text-align: center;
    padding-top: 50px;
  }
  .part-name,
  #pc-planner-list .part_selected {
    max-width: 300px;
    padding-right: 15px;
  }
  .part-name-container {
    display: flex;
    align-items: center;
  }

  .list-image-container {
    max-width: 70px;
    width: 100%;
    height: 70px;
    float: left;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-image-container .imgNotFound {
    width: 75%;
    height: 75%;
    font-size: 18px;
  }
  .part-name a,
  .part_selected a {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .part-name img,
  .part_selected img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }
  .imgNotFound {
    width: 100%;
    height: 100%;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: var(--accent1);
  }
  .create-section {
    display: block;
    text-align: left;
    max-width: 640px;
  }
  .create-link {
    font-size: 16px;
  }
  .create-link:hover {
    text-decoration: underline;
  }
  .list {
    background-color: var(--fg);
  }
  .list li {
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
  }

  .list li:last-of-type {
    margin-bottom: 20px;
  }

  .list li a {
    font-size: 20px;
  }

  #category-manufacturer-container {
    display: flex;
  }

  #category-manufacturer-container fieldset {
    width: 50%;
  }

  #componentFormContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto auto;
  }
  #errorMsgs {
    grid-row: 2;
  }
  .component-details--img {
    grid-row: 1;
  }
  #componentForm {
    grid-row: 1/3;
  }
  .component-details {
    max-width: 640px;
  }
  .component-details--img .add {
    margin-top: 10px;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    transition: 0.1s;
    box-shadow: none;
  }
  .component-details--img .add:focus {
    outline: 1px dotted var(--font-color);
    transform: none;
  }
  .component-details--img .add:active {
    transform: scale(0.97);
  }
  .component-details--img .imgNotFound {
    height: 150px;
    width: 150px;
    margin: 0 auto;
  }
  .component-details--img a i {
    display: none;
  }
  .component-details--img a {
    position: static;
    font-size: 16px;
  }
  .component-details--img a::after {
    content: "Remove Image";
    margin-top: 10px;
  }
  .component-details--details {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .component-details--details > div:not(:last-of-type) {
    grid-column: 1;
    border: none;
  }
  .component-details--details .features-list-container,
  .component-details--details .add {
    grid-column: 2;
  }
  .component-details--details .features-list-container {
    grid-row: 1 / 5;
  }
  .component-details--details .add {
    display: none;
  }

  .component-details--details .th-small {
    display: block;
  }

  #dropdown {
    display: none;
  }

  a.cancel {
    margin: 0 auto;
    grid-column: 2;
  }

  #confirmationMsg {
    text-align: center;
  }

  #footerContainer {
    margin: 0 auto;
    max-width: 768px;
  }

  #errorPage {
    width: 640px;
    margin: 0 auto;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
