th[role="columnheader"]:not(.no-sort) {
  cursor: pointer;
}

th[role="columnheader"]:not(.no-sort):after {
  content: "";
  /* float: right;
	margin-top: 7px; */
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: var(--accent2) transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

th[aria-sort="ascending"]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}

th[role="columnheader"]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}
